<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Check a Signature</title>
    <link rel="stylesheet" type="text/css" href="/css/check_sign.css">
    <script type="text/javascript" src="js/check_sign.js" defer></script>
</head>
<body>
    <div class="overlay"></div>

    <!-- POP UP BOTH VERIFIED -->
    <div id = "pop-up-verified" class = "pop-up">
        <img src = "/assets/verified.png" width = 100px>
        <p>Document and signature is verified</p>
        <button type="button" class="backPopup">Back</button>
    </div>

    <!-- POP UP DOCUMENT NOT VERIFIED -->
    <div id = "pop-up-doc-not-verified" class = "pop-up">
        <img src = "/assets/not-verified.png" width = 100px>    
        <p>Document has been changed</p>
        <button type="button" class="backPopup">Back</button>
    </div>

    <!-- POP UP SIGNATURE NOT VERIFIED -->
    <div id = "pop-up-sig-not-verified" class = "pop-up">
        <img src = "/assets/not-verified.png" width = 100px>
        <p>Signature is not verified</p>
        <button type="button" class="backPopup">Back</button>
    </div>

    <!-- POP UP BOTH NOT VERIFIED -->
    <div id = "pop-up-both-not-verified" class = "pop-up">
        <img src = "/assets/not-verified.png" width = 100px> 
        <p>Document has been changed and signature is not verified</p>
        <button type="button" class="backPopup">Back</button>
    </div>

    <!-- POP UP NO QR CODE DETECTED -->
    <div id = "pop-up-no-qr-code" class = "pop-up">
        <img src = "/assets/not-verified.png" width = 100px>
        <p>No Digital Signature QR Code detected in the document</p>
        <button type="button" class="backPopup">Back</button>
    </div>

    <!-- POP UP NO DOCUMENT DETECTED -->
    <div id = "pop-up-missing-input" class = "pop-up">
        <img src = "/assets/not-verified.png" width = 100px>
        <p>Please fill all input</p>
        <button type="button" class="backPopup">Back</button>
    </div>

    <!-- Jika page ini diakses oleh user blm login, tampilkan header public -->
    <% if(id_user === 0){ %>
        <%- include('./layout/public_header.ejs') %>
    <% } else { %>
    <!-- Jika page ini diakses oleh user (sudah login), tampilkan header user -->
        <%- include('./layout/user_header.ejs') %>
    <% } %>

    <div id="outer">
        <div id="all">
            <h1> Check a Signature</h1>
            <form>
                <div id="box">
                    <div id="content">
                        <!-- <label for="isiQR" class = "isiQR_label">Isi QR</label>
                        <input type="text" name="isiQR" id="isiQR" class = "input_isiQR"required> -->
                        <label for="no_surat" class = "no_surat_label">No. Surat</label>
                        <input type="text" name="no_surat" id="no_surat" class = "input_no_surat" required>
                        <label for="surat" class = "surat_label">Surat</label>
                        <input type="file" name = "surat" id="surat" accept=".pdf" required>
                    </div>
                    
                    <div id="checkButtonDiv">
                        <button id="checkButton" type = "button">CHECK</button>
                    </div>

                    <div id="loading" class="hidden">
                        <div class="spinner"></div>
                        <p>Loading...</p>
                    </div>
                    
                </div>
            </form>
        </div>
    </div>
</body>
</html>