<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>iSign</title>
    <link rel="stylesheet" type="text/css" href="/css/check_sign.css">
</head>
<body>
    <!-- Jika page ini diakses oleh user blm login, tampilkan header public -->
    <% if(id_user === 0){ %>
        <%- include('./layout/public_header.ejs') %>
    <% } else { %>
    <!-- Jika page ini diakses oleh user (sudah login), tampilkan header user -->
        <%- include('./layout/user_header.ejs') %>
    <% } %>
    <div id="outer">
        <div id="all">
            <h1> Check a Signature</h1>
            
                <form method = "POST" action = "/check_sign">
                    <div id="box">
                        <div id="content">
                            <label for="isiQR" class = "isiQR_label">Isi QR</label>
                            <input type="text" name="isiQR" id="isiQR" class = "input_isiQR"required>
                            <label for="no_surat" class = "no_surat_label">No. Surat</label>
                            <input type="text" name="no_surat" id="no_surat" class = "input_no_surat" required>
                        </div>
                        
    
                        <div id="checkButtonDiv">
                            <button id="checkButton">CHECK</button>
                        </div>
                    </div>
                    
                </form>

                

            </div>
        </div>
    </div>
</body>
</html>