<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>iSign</title>
    <link rel="stylesheet" type="text/css" href="/css/form_sign.css">
</head>
<body>
    <%- include('./layout/user_header.ejs') %>
    <div id="outer">
        <div id="all">
            <h1> Sign a Document</h1>
            <div id="box">
                
                <form method = "POST" action = "/sign_doc" enctype="multipart/form-data">
                    <div id = "form-content">
                        <label for="nosu" class = "nosu_label">No. Surat</label>
                        <input type="text" name="no_surat" id="nosu" class = "input_nosu"required>

                        <label for="signedby" class = "signedby_label"><i>Signed by</i></label>
                        <input type="text" name="signedby" id="signedby" class = "input_signedby" value = <%- nama_lengkap %> readonly>

                        <label for="password" class = "password_label">Password</label>
                        <input type="password" name="password" id="password" class = "input_password"required>

                        <label for="surat" class = "surat_label">Surat</label>
                        <input type="file" name = "surat" id="surat" accept=".pdf" required>

                        
                    </div>
                    <% if (passwordWrong) { %>
                        <div class = "password_warning">
                            *Wrong password
                        </div>
                    <% }%>

                    <% if (hasSigned) { %>
                        <div class = "signed_warning">
                            *You have signed this document before
                        </div>
                    <% }%>
                    

                    <button id="signButton">SIGN</button>
                </form>

            </div>
        </div>
    </div>
</body>
</html>