<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ISIGN SIGN UP CONFIRMATION</title>
    <link rel="stylesheet" type="text/css" href="/css/log_in.css">
</head>
<body>
    <div class = "navigator_log_in">

        <a href = "/"><img id = "logo_signup" src = "/assets/logo login_2.png" alt = "login_logo"></a>
        <h1 id = "login">Sign Up Confirmation</h1>
            <div class = "content_sign_up_conf">
                <h2>Your account has been successfully created!</h2>
                <a href = "/log_in">
                    <button class = "blue_button">Log in</button>
                </a>
                
            </div>    
    
</body>
</html>