@font-face {
    font-family: Bold;
    src: url("../font/Poppins-Bold.ttf");
}

@font-face {
    font-family: SemiBold;
    src: url("../font/Poppins-SemiBold.ttf");
}

@font-face {
    font-family: Regular;
    src: url("../font/Poppins-Regular.ttf");
}

html, body{
    background-image: url("../assets/bg1.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
    width: 100vw;
    margin: 0;
    padding: 0;
}

#outer{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
}

#all{
    display: grid;
    justify-content: center;
    margin-top: 25px;
}

h1{
    color: #1A2C56;
    font-family: Bold;
    text-align: center;
}

#box{
    background-color: white;
    width: 450px;
    border-radius: 15px;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#form-content{
    display: grid;
    grid-template-columns: 0.5fr 1fr;
    margin: 20px;
}

form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

label{
    font-family: Regular;
    font-size: 1.2em;
    color: gray;
    padding-top: 15px;
}

.surat_label{
    padding-top: 4px;
}

input[type="text"]{
    background-color: lightgrey;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    height: 50px;
    margin-bottom: 20px;
}

input[type="password"]{
    background-color: lightgrey;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    height: 50px;
    margin-bottom: 20px;
}

.input_signedby{
    text-align: center;
    font-size: 30px;
}

#signButton{
    background-color: #3969B3;
    border: none;
    font-family: Regular;
    width: 100px;
    color: #FFFFFF;
    padding: 5px;
    border-radius: 20px;
}

.password_warning{
    color: red;
    font-size: 13px;
    font-family: Regular;
}

.signed_warning{
    color: red;
    font-size: 13px;
    font-family: Regular;
}

input[type=file]::file-selector-button {
    background-color: #3969B3;
    border: none;
    color: white;
    padding: 5px;
    border-radius: 5px;
    width: 120px;
    margin-right: 15px;
}

#surat{
    padding: 5px 0px 0px 0px;
}