@font-face {
    font-family: Bold;
    src: url("../font/Poppins-Bold.ttf");
}

@font-face {
    font-family: SemiBold;
    src: url("../font/Poppins-SemiBold.ttf");
}

@font-face {
    font-family: Regular;
    src: url("../font/Poppins-Regular.ttf");
}

html, body{
    background-image: url("../assets/bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
    width: 100vw;
    margin: 0;
    padding: 0;
}

#outer{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
}

#all{
    display: grid;
    justify-content: center;
    margin-top: 50px;
}

h1{
    color: #1A2C56;
    font-family: Bold;
    text-align: center;
}

#box{
    background-color: white;
    width: 450px;
    height: 230px;
    border-radius: 15px;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 10px;
}

#containerText{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}

#buttons{
    display: flex;
    justify-content: space-between;
}

#downloadButton{
    font-family: Bold;
    color: white;
    padding: 7px;
    background-color: #1A2C56;
    border-radius: 15px;
    width: 140px;
    text-align: center;
    text-decoration: none;
}

#copyButton{
    font-family: Regular;
    color: white;
    padding: 7px;
    background-color: #3969B3;
    border-radius: 15px;
    width: 80px;
    height: 35px;
    text-align: center;
    text-decoration: none;
    border: none;
}
