@font-face {
    font-family: Bold;
    src: url("../font/Poppins-Bold.ttf");
}

@font-face {
    font-family: SemiBold;
    src: url("../font/Poppins-SemiBold.ttf");
}

html,body {
    background-color: #366AB2;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.logo_header img{
    height: 70px;
}


.header_layout {
    height: 90px;
    display: flex;
    align-items: center;
    font-family: SemiBold;
    color: #1A2C56;
    gap: 10px;
    padding: 0px 20px 0px 10px;
    justify-content: space-between;

}

.header_welcome{
    font-family: Bold;
    font-size: 25px;
    margin-left: auto;
}

.header_sig_log {
    margin-left: auto;
    margin-right: 10px;
    display: flex;
    gap: 25px;
}

.header_sig_log a {
    color: #1A2C56;
    text-decoration: none;
    transition: 0.1s ease-in;
}

.header_sig_log a:hover {
    color: #2196F3;
}

a {
    text-decoration: none;
}

.gray_button {
    background-color: #737373;
    color: white;
    font-size: 16px;
    font-weight: bold;
    border: none;
    padding: 7px 30px;
    border-radius: 15px;
    transition: 0.2s ease-in;
}

.gray_button:hover {
    background-color: #4294FF;
    color: white;
}


.blue_button {
    background-color: #366AB2;
    color: white;
    font-size: 16px;
    font-weight: bold;
    border: none;
    padding: 7px 30px;
    border-radius: 15px;
    transition: 0.2s ease-in;
}

.blue_button:hover {
    background-color: #4294FF;
    color: white;
}