<!DOCTYPE html>
<html>

<head>
	<title>ISIGN_HEADER</title>
	<link rel="stylesheet" type="text/css" href="/css/header.css">
</head>

<body>
    <div class = "header_layout">
        <div class = "logo_header">
            <a href = "/"><img src = "/assets/header_logo.png" alt = "isign_logo"></a>
        </div>


        <a href = "/log_in" class = "blue_button">
            Log in
        </a>
    </div>
</body>
</html>

