<!DOCTYPE html>
<html>

<head>
	<title>ISIGN_HEADER</title>
	<link rel="stylesheet" type="text/css" href="/css/header.css">
</head>

<body>
    <div class = "header_layout">
        <div class = "logo_header">
            <a href = "/"><img src = "/assets/header_logo.png" alt = "isign_logo"></a>
        </div>


        <div class = "header_welcome">
            Welcome, <%- nama_lengkap %>!
        </div>
        
        <div class = "header_sig_log">
            <a href="/signature_log">Signature Log</a>
        </div>

        <a href = "/log_out" class = "gray_button">
            Log out
        </a>
    </div>
</body>
</html>

